<% if @tag %>
    <div id="tag">Posts by tag <%= @tag %> (<%= paginator[:count] %>)</div>
<% end %>

<%- posts.each do |post| %>
    <article>
        <header>
            <h1><%= post.title %></h1>
            <time><%= post.created_at %>
        </header>
        <section>
            <p><%= post.body.split("\n\n").first %>
        </section>
        <footer>
            <a href="posts/<%= post._key %>">More</a>
        </footer>
    </article>
<% end %>

<% if paginator[:enabled] %>
    <article class="paginator">
        <ul>
            <% 1.upto(paginator[:pages]) do |page| %>
                <li>
                    <% if page == current_page %>
                        <span><%= page %></span>
                    <% else %>
                        <a href="<%= page_href(page) %>"><%= page %></a>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </article>
<% end %>

<!-- <pre><%= paginator.to_yaml %></pre> -->
