<% if @tag %>
    <div id="tag">Posts by tag <%= @tag %> (<%= paginator[:count] %>)</div>
<% end %>

<%- posts.each do |post| %>
    <article>
        <header>
            <h1><%= post.title %></h1>
            <time><%= post.created_at %>
        </header>
        <section>
            <p><%= post.body.split("\n\n").first %>
        </section>
        <footer>
            <a href="posts/<%= post._key %>">More</a>
        </footer>
    </article>
<% end %>
